<div class="container-fluid">
    <div class="span2">

    </div>
    <div class="span8" style="padding-top:20%;">
        <div class="alert">
            <p style="text-align: center"> <i class=" icon-warning-sign"></i>&nbsp;&nbsp;&nbsp;&nbsp;对不起，访问过程中出现异常错误，请稍后再试！</p>
        </div>
    </div>

    <div class="span2">
   
    </div>
</div>