<div class="history-video modal hide " style="top:5%;width:680px;height:700px;" data-backdrop='static'>
    <div class="modal-header">
        <a class="close" data-dismiss="modal" {{action "close"}}>×</a>
        <h4 style="text-align: left;">播放历史视频</h4>
    </div>
    <div class="corn-modal-body">

    </div>

</div>


<a class="btn btn-info" href="#" data-toggle="tooltip" title="播放" {{action "playHistoryVideo" }}>
    <i class=" icon-play icon-white"></i>
</a>
