<button class="btn btn-primary" id="open-wizard">
    Open wizard
</button>
<div class="wizard" id="some-wizard" data-title="Wizard Title">

    <h1>Wizard Title</h1>

    <div class="wizard-card" data-cardname="card1">
        <h3>Card 1</h3>
        Some content
    </div>

    <div class="wizard-card" data-cardname="card2">
        <h3>Card 2</h3>
        Some other content
    </div>

</div>