<div class="padding-zero container-fluid">
    <div class="row-fluid span2 " style="padding-top:30px;">
        <div class="row-fluid span11 offset1">
            <ul class="nav nav-tabs nav-stacked sidebar-nav main-menu">

                <li class="ajax-link  ">
                    {{#link-to 'imgStatistics'}}维度1{{/link-to}}
                </li>
                <li class="ajax-link ">
                    {{#link-to 'statistics'}}维度2{{/link-to}}
                </li>
                <li class="ajax-link active">
                    {{#link-to 'serviceStatistics'}}维度3{{/link-to}}
                </li>

            </ul>
        </div>
    </div>

    <div class="row-fluid span10" style="padding-top:20px;">
    </div>
</div>