<div class="padding-zero container-fluid">
    <div class="row-fluid span2 " style="padding-top:30px;">
        <div class="row-fluid span12">
        <ul class="nav nav-tabs nav-stacked sidebar-nav main-menu">

            <li class="ajax-link ">
                {{#link-to 'service'}}服务{{/link-to}}
                <!--<a class="ajax-link" href="gis" >首页</a>-->
            </li>
            <li class="ajax-link ">
                {{#link-to 'cn'}}CN{{/link-to}}
            </li>
            <li class="ajax-link">
                {{#link-to 'rn'}}RN{{/link-to}}
            </li>
            <li class="ajax-link ">
                {{#link-to 'database'}}数据库{{/link-to}}
            </li>
            <li class="ajax-link active">
                <!--{{#link-to 'hdfs'}}HDFS{{/link-to}}-->
                <a href="http://10.7.100.31:8080/#/login" target="_blank">HDFS</a>
            </li>
            <li class="ajax-link">
                {{#link-to 'webServer'}}Web Server{{/link-to}}
            </li>
            <li class="ajax-link">
                {{#link-to 'monitoringApp'}}应用{{/link-to}}
            </li>

            <li class="ajax-link">
                {{#link-to 'mainframe'}}主机{{/link-to}}
            </li>
            <li class="ajax-link">
                {{#link-to 'logs'}}日志{{/link-to}}
            </li>
        </ul>
            </div>
    </div>
    <div class="row-fluid span10">



    </div>
</div>
